.app {
  background-color: #151d23;
}

.card-bottom-text {
  padding-left: 20px;
}

.pageButtons {
  border-radius: 10px;
  margin-left: 10px ;
  margin-right: 10px ;
  background-color: #456ad7; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 15px;
  transition-duration: 0.4s;
  cursor: pointer;
 }

 .select {
  background-color: #456ad7;
  color: white ;
 }

.pageConfig {
  display: flex;
  justify-content: start;
  margin-left: 1%;
}

.pageSize {
  margin-left: 6%;
  display: flex;
  /* justify-content: ; */
}

.select {
  margin: 15px;
  border-radius: 5px;
}

.pageNumbers {
  display: flex;
  justify-content: start;
  margin-left: 20px;

}

.card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
  /* background-color: #f7f7f7; */
  border-top: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar-title {
  padding-left: 20px ;
}

.sidebar {
  position: fixed;
  top: 50px;
  color: #fff;
  background-color: #202b37;
  height: 100vh;
  width: 200px;
  position: fixed;
  padding-top: 15px;
}

.sidebar-item {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #e6e6e6;
}

.sidebar-item.active {
  background-color: #ddd;
}

.view {
  margin-left: 200px;
  padding: 20px;
  background-color: #151d23;
}

.topbar {
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151d23;
  height: 50px;
  color: #fff;
  padding: 0 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.pokemonDiv {
 display: flex;
 justify-content: space-around;
 /* flex-direction: column; */
 
 flex-wrap: wrap;

}

.pokemon-name {
  text-shadow:0px 0px 15px black ;
  padding-left: 20px;
  /* text-align: center; */
}

.pokemon-name:hover {
  color: #456ad7
}

.img-pkm {
  box-shadow: 0px 0px 5px black;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom:60px;
  padding: 10px;
  transition: 0.3s;
}

.img-pkm:hover {
  cursor: pointer;
  background-color: #151d23;
  box-shadow: 0px 0px 15px black;
}

.pokeId {
  margin-right: 0px;
  
}

.pokeStats {
  width: 100%;
  /* margin-left: 5%; */
}

.eachPokemon {
  display: flex;
  position: relative;
  /* text-align: center; */
  align-items: center;
  width: 45%;
  margin: 10px;
  border-radius: 5px;
  background-color: #202b37;
  color: #fff;
  box-shadow: 0px 0px 5px black;
}

.title-tab2 {
  color: #7c8691;
}

.topbar-left {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topbar button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.topbar button i {
  font-size: 20px;
  color: #fff;
}

.sidebar-tabs {
  color: #fff;
  background-color: #202b37;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
}

.sidebar-tabs button {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  border: none;
  padding-right: 10px;
  margin-left: 30px;
  background-color: transparent;
  font-size: 16px;
  color: #92a0ac;
  cursor: pointer;
}

.sidebar-tabs button i {
  margin-right: 10px;
  margin-left: 10px;
}

.title-tab {
  color: #727f8b;
}

.sub-title-tab {
  color: #fff;
}

.sidebar-tabs button.active {
  border-radius: 10px;
  color: #456ad7;
  background-color: #151d23;
}
